/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}


.header{
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo .logo-part {
    color:#2e2f42;
}

.nav-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link{
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.nav-link--active{
    color: #404bbf;
    position: relative;
}

.nav-link.nav-link--active::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link--active{
    color: #404bbf;
}

.contacts-link{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.page-footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo .footer-logo{
    color:#f4f4fd;
}

.footer-p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.title-hero{
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
max-width: 496px;
margin:0 auto 48px;
}

.hero{
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: auto;
}

.hero .button-hero{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    height: 56px;
    margin:0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button-hero:hover,
.hero .button-hero:focus{
    background-color: #404bbf;
}

.values-list .list-section-hh{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0 0 0.5em 0;
    margin-bottom: 8px;
}

.values-list .p-section-hh{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.team-list .team-item .team-hhh{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
margin-bottom: 8px;
}

.team-list .team-item .team-p{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-section .team-hh{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-container{
    padding: 32px 0;
}



.team-section{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.container-app-active:hover .p-portfolio-active{
    transform: translateY(0%);
}

.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section, .portfolio-hh{
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
}

.container-app .portfolio-p{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.container-app-active{
    position: relative;
    overflow: hidden;
}

.p-portfolio-active{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
position: absolute;
top: 0;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.portfolio-section, .portfolio-list, .portfolio-item, .portfolio-hhh{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.container-header{
    width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}

.nav-header-container{
    display: flex;
    align-items: center;
}

.nav-list-container{
    display: flex;
    gap: 40px;
    padding: 0 24px;
}

.contact-list-container{
    display: flex;
    gap: 40px;
}

.section-two{
    padding: 120px 0;
    background-color: #FFFFFF;
}

.values-list-container{
    display: flex;
    gap: 24px;
}



    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.container-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer .logo-part-footer{
    color:#f4f4fd;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.team-item{
    background: #fff; 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.values-list-li{
    width: calc((100% - 72px) / 4);
    justify-content: space-around;
}


.values-icon-two{
   border: 1px solid #8e8f99;
   border-radius: 4px;
   width: 264px;
   height: 112px;
   background-color: #f4f4fd;
   margin-bottom: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.svg-icon-two{
    align-items: center;
}

.social-link{
    display:flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
}

.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}

.social-item{
    width: 40px;
    height: 40px;
}

.social-list-team{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.social-icon-footer,
.social-icon-team{
    fill:#f4f4fd;
}

.footer-line{
    display: flex;
    align-items: baseline;
}

.container-footer-logo{
   margin-right: 120px;
}

.p-media-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}

.socseti-footer{
  display: flex;
  gap: 16px;
}

.social-item-footer{
    width: 40px;
    height: 40px;
}

.social-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus{
    background-color: #31d0aa;
}

.footer-p-email{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.footer-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-icon-button{
    margin-left: 16px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}

.modal-window-icon-close{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-window-button-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-window-button-close:hover,
.modal-window-button-close:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-window-p{
    font-weight: 500; 
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.02em;
     color: var(--modal-text-p);
     margin-bottom: 16px;
}

:root {
  --modal-text-p: #2E2F42;
}

.modal-form-one{
    margin-bottom: 8px;
}

.modal-label-one{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-text-pp);
    display: block;
    margin-bottom: 4px;
}

:root {
  --modal-text-pp: #8e8f99;
}

.input-modal-form-one{
    position: relative;
}

.modal-input-one{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-one:focus{
    border-color: #4D5AE5;
}

.modal-icon-user{
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input-one:focus + .modal-icon-user{
    fill: #4D5AE5;
}

.modal-form-two{
    margin-bottom: 16px;

}

.modal-textarea-one{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-one:focus{
    border-color: #4D5AE5;
}

.modal-form-check-box{
  margin-bottom: 24px;
}

.modal-label-check-box{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-text-pp);

}

.modal-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer;

}

:root {
  --accent-bg: #404bbf;
}

.modal-check-box-one:checked+.modal-span {
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
}


:root{
    --tigr-golbarin: #F4F4FD;
}

.modal-link-privacy{
    color: var(--piz-dor-bol)
}

:root{
    --piz-dor-bol: #4D5AE5;
}

.modal-button-end{
    display: block;
    min-width: 169px;
    height: 56px;   
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check-box-one{
    display: none;
}